---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<div style=" display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">
		<h2>Last Telemetry</h2>
	<label id="data">0</label>
	</div>
</Layout>

<script is:inline>
	const socket =  new WebSocket("ws://localhost:8765");

	socket.onmessage = (event) => {
		console.log("📡 Nuevo telemetry recibido:", JSON.parse(event.data));
		const parsedData = JSON.parse(event.data);
		document.getElementById("data").innerHTML = parsedData.controlCode
	};

</script>